{{ ansible_managed | comment }}

[Interface]
PrivateKey: {{ lookup('pipe', 'ansible-vault decrypt --output=-' + peer_params.private_key ) }}
Address: {{ peer_params.address }}/{{ peer_params.mask }}
{%- if server_params.dns_address is defined -%}
DNS = {{ server_params.dns_address }}
{% endif %}

[Peer]
PublicKey = {{ lookup('pipe', 'ansible-vault decrypt --output=-' + peer_params.public_key ) }}
AllowedIPs = {{ peer_params.allowed_ips | join(', ') }}
{%- if peer.preshared_key is defined -%}
PresharedKey = {{ lookup('pipe', 'ansible-vault decrypt --output=-' + peer_params.preshared_key ) }}
{% endif %}
Endpoint = {{ server_params.address }}:{{ server_params.port }}